## pandas series
- `A Pandas Series is like a column in a table.`
- `It is a one-dimensional array holding data of any type.`

In [35]:
import pandas as pd    #Create a simple Pandas Series from a list

a = [1, 7, 2]

myvar = pd.Series(a, dtype='float32', name='nums')

print(myvar)

0    1.0
1    7.0
2    2.0
Name: nums, dtype: float32

In [17]:
myvar.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
myvar.array

<NumpyExtensionArray>
[1, 7, 2]
Length: 3, dtype: int64

In [21]:
myvar.values

array([1, 7, 2], dtype=int64)

In [22]:
myvar.dtype

dtype('int64')

In [23]:
myvar.shape

(3,)

In [24]:
myvar.nbytes

24

In [25]:
myvar.ndim

1

In [26]:
myvar.size

3

In [28]:
myvar.T.shape

(3,)

In [32]:
myvar.astype('float32')

0    1.0
1    7.0
2    2.0
Name: nums, dtype: float32

In [33]:
myvar1 = myvar.copy()
myvar1

0    1
1    7
2    2
Name: nums, dtype: int64

In [34]:
myvar.to_list()

[1, 7, 2]

In [2]:
import pandas as pd

# Create a dictionary
data = {'apple': 3, 'banana': 7, 'orange': 5}

# Create a Pandas Series from the dictionary
fruits = pd.Series(data)

fruits

apple     3
banana    7
orange    5
dtype: int64

In [8]:
import pandas as pd

x = {'harrier': 5,'range': 2,'tx': 4}
cars = pd.Series(x)
cars

harrier    5
range      2
tx         4
dtype: int64

## Labels
If nothing else is specified, the values are labeled with their index number

In [15]:
print(cars.iloc[1])

2

## Creating Labels

In [10]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

## Key/Value Objects as Series

In [11]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [12]:
import pandas as pd                                   #Create a Series using only data from "day1" and "day2":

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## DataFrames
- `Data sets in Pandas are usually multi-dimensional tables, called DataFrames.`
- `Series is like a column, a DataFrame is the whole table.`

In [13]:
import pandas as pd              #Create a DataFrame from two Series

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45