## pandas dataframes
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [1]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45

### Locate Row
Pandas use the loc attribute to return one or more specified row(s)

In [2]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [3]:
#use a list of indexes:
print(df.loc[[0, 1]])    #Return row 0 and 1

   calories  duration
0       420        50
1       380        40

## Named Indexes
With the index argument, you can name your own indexes.

In [4]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## Locate Named Indexes
Use the named index in the loc attribute to return the specified row(s).

In [5]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

## Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.

In [8]:
import pandas as pd

#df = pd.read_csv('data.csv')

#print(df)

## Pandas Read CSV
- `A simple way to store big data sets is to use CSV files (comma separated files).`
- `CSV files contains plain text and is a well know format that can be read by everyone including Pandas.`

In [10]:
import os
os.getcwd()

'C:\\Users\\sa\\Desktop\\Pandas Tutorial'

In [14]:
import pandas as pd

df = pd.read_csv(r"C:\Users\sa\Downloads\data.csv")

df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]