### <b> Course: Machine Learning for Absolute Beginners - Level 2
#### By: Idan Gabrieli
####  Exercise #2 â€“ Pandas Series and DataFrame
*****************************

### Step 1 - Series Data Structure (1D)

Create a series data structure called s1 with the following values [10,20,30,40,50,60] and then print it.

In [2]:
import pandas as pd

# Create the series
s1 = pd.Series([10, 20, 30, 40, 50, 60])

# Print the series
print(s1)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

Print the left column which is the index.

In [3]:
print(s1.index)

RangeIndex(start=0, stop=6, step=1)

Print the type of the second column which is the actual data.

In [4]:
print(s1.dtype)

int64

Print the values in index location 3.

In [6]:
print(s1.iloc[3])

40

Create a series data structure called s2 with the following values [10,20,30,40,50,60] and with index ['a', 'b', 'c', 'd', 'e', 'f'] then print it.

In [8]:
import pandas as pd

s2=pd.Series([10,20,30,40,50,60],index=['a','b','c','d','e','f'])
print(s2)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

Print the value in row with the index label 'e'.

In [10]:
print(s2.loc['e'])

50

Change the value of row with the index label 'e' into 51.

In [11]:
import pandas as pd

# Create the series with custom index
s2 = pd.Series([10, 20, 30, 40, 50, 60], index=['a', 'b', 'c', 'd', 'e', 'f'])

# Change the value at index label 'e' to 51
s2.loc['e'] = 51

# Print the updated series
print(s2)

a    10
b    20
c    30
d    40
e    51
f    60
dtype: int64

Print all rows between labels 'b' and 'e' using the slice notation.

In [16]:
print(s2.loc['b':'e'])

b    20
c    30
d    40
e    51
dtype: int64

Print all rows between labels 'b' until the end using the slice notation.

In [17]:
print(s2.loc['b':])

b    20
c    30
d    40
e    51
f    60
dtype: int64

Add the number 3 to all rows in s2 without using a for-loop.

In [18]:
s2=s2+3
print(s2)

a    13
b    23
c    33
d    43
e    54
f    63
dtype: int64

Check if the value 54 is in s2 without using a for-loop.

In [19]:
is_value_present=54 in s2.values
print(is_value_present)

True

Check which values in s2 are greater than 30.

Print the values in s2 that are greater than 30.

In [20]:
greater_than_30 = s2 > 30
print(greater_than_30)

a    False
b    False
c     True
d     True
e     True
f     True
dtype: bool

print all values in s2 that are greater than the mean value.

In [21]:
# Calculate the mean value
mean_value = s2.mean()
greater_than_mean = s2 > mean_value
print(greater_than_mean)

a    False
b    False
c    False
d     True
e     True
f     True
dtype: bool

### Step 2 - DataFrame Data Structure (2D)

Create a dictionary called dic1 with the following data: {'Name':[ 'David', 'John', 'Marta', 'Dianna'], 'Age':[41,19,33,24],'Weight':[85,76,67,56]} and then create create a dataframe called df from dic1. Print df dataframe.

In [24]:
dic1={'name':['david','john','marta','dianna'],'age':[41,19,33,24],'weight':[85,76,67,56]}
df=pd.DataFrame(dic1)
print(df)

     name  age  weight
0   david   41      85
1    john   19      76
2   marta   33      67
3  dianna   24      56

Print the rows index attribute of df dataframe.

In [25]:
print(df.index)

RangeIndex(start=0, stop=4, step=1)

Print the columns attribute of df dataframe.

In [26]:
df.columns

Index(['name', 'age', 'weight'], dtype='object')

Print the values attribute of df dataframe.

In [27]:
df.values

array([['david', 41, 85],
       ['john', 19, 76],
       ['marta', 33, 67],
       ['dianna', 24, 56]], dtype=object)

Bonus step - can you change the rows index attribute to the following labels: 'R1', 'R2', 'R3', 'R4' and print the df dataframe? (tip - create a list with those new labels and then copy the list into the relevant dataframe attribute).

In [28]:
new_index_labels = ['R1', 'R2', 'R3', 'R4']
df.index=new_index_labels
print(df)

      name  age  weight
R1   david   41      85
R2    john   19      76
R3   marta   33      67
R4  dianna   24      56

### Step 3 - Data Selection in a DataFrame

Create a dictionary called dic1 with the following data: {'Name':[ 'David', 'John', 'Marta', 'Dianna'], 'Age':[41,19,33,24],'Weight':[85,76,67,56]} and then create create a dataframe called df from dic1 with the following rows index ['a','b','c','d']. Print the dataframe.

In [29]:
import pandas as pd

# Create the dictionary
dic1 = {
    'Name': ['David', 'John', 'Marta', 'Dianna'],
    'Age': [41, 19, 33, 24],
    'Weight': [85, 76, 67, 56]
}

# Create the DataFrame from the dictionary with custom index
df = pd.DataFrame(dic1, index=['a', 'b', 'c', 'd'])

# Print the DataFrame
print(df)

     Name  Age  Weight
a   David   41      85
b    John   19      76
c   Marta   33      67
d  Dianna   24      56

Print the 'Name' column using the dot notation.

In [31]:
print(df.Name)

a     David
b      John
c     Marta
d    Dianna
Name: Name, dtype: object

Print the 'Name' and 'Age' columns using square brackets.

In [35]:
print(df[['Name','Age']])

     Name  Age
a   David   41
b    John   19
c   Marta   33
d  Dianna   24

Print the type of object returned by selecting the 'Name' column using square brackets.

In [38]:
name_column = df['Name']
print(type(name_column))

<class 'pandas.core.series.Series'>

Print the type of object returned by selecting the 'Name' and 'Age' columns using square brackets.

In [40]:
object_type=df[['Name','Age']]
print(type(object_type))

<class 'pandas.core.frame.DataFrame'>

Print the rows starting in index location 0 and ending in index location 2.

In [41]:
print(df.iloc[0:3])

    Name  Age  Weight
a  David   41      85
b   John   19      76
c  Marta   33      67

Print all rows with columns 'Name' and 'Age' while using the loc method.

In [43]:
print(df.loc[:,['Name','Age']])

     Name  Age
a   David   41
b    John   19
c   Marta   33
d  Dianna   24

Print rows  with labels 'a' and 'd' with columns 'Name' and 'Age' while using the loc method.

In [49]:
print(df.loc[['a','d'],['Name','Age']])

     Name  Age
a   David   41
d  Dianna   24

Print the row in index location 2 using the iloc method.

In [50]:
print(df.iloc[2])

Name      Marta
Age          33
Weight       67
Name: c, dtype: object

Print the rows in index location 1,2 and 3 using the iloc method.

In [51]:
print(df.iloc[1:4])

     Name  Age  Weight
b    John   19      76
c   Marta   33      67
d  Dianna   24      56

Print the rows in index location 1,2 and 3 and columns in index locations 0 to 1 using the iloc method.

In [54]:
print(df.iloc[1:4,0:2])

     Name  Age
b    John   19
c   Marta   33
d  Dianna   24

### End of document
************************